.btn {
    display: inline-block;
    padding: 0.5em 1.2em;
    background-color: #fd6363;
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    border-radius: 0.2em;
    box-shadow: 0 0.1em 0.2em #0005;
    border: none;
    user-select: none;
    word-spacing: 0;
    letter-spacing: 0em;
}
.btn:hover {
    background-color: #f00;
    box-shadow: 0 0.1em 0.25em #0007;
}
